.input {
	padding: 0.2em 1.7em 0.4em 1.7em;
	font-size: 1.8rem;
	margin-bottom: 1.4em;
	width: 100%;
	border: none;
	border-bottom: 2px solid black;
	background: transparent;
	outline: none;

	&:focus,
	&:valid {
		border-bottom: 2px solid #2563eb;
	}

	&:focus ~ label,
	&:valid ~ label {
		color: #2563eb;
		top: -20px;
		font-size: 1.6rem;
	}
	&:focus ~ .icon,
	&:valid ~ .icon {
		color: #2563eb;
	}
}

.label {
	position: absolute;
	top: 2px;
	left: 29px;
	font-size: 1.9rem;
	pointer-events: none;
	transition: top 0.4s, color 0.4s, font-size 0.4s;
}

.icon {
	position: absolute;
	top: 6px;
	left: 2px;
	width: 24px;
	height: 24px;
}

.eye {
	position: absolute;
	font-size: 2rem;
	top: 1px;
	right: -3px;
	padding: 0.2em;
	background-color: transparent;
}